* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper__head {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 130px 10px 80px;
  z-index: 1;
}
.head__logo #logo {
  width: 100px;
  height: 100px;

  fill: white;
}

.head__menu {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.head__menu a {
  font-size: 30px;
  color: white;
}

.wrapper__body {
  display: flex;
  flex-direction: column;
}
/* 
  홈화면의 첫번째화면
  배경이미지는 3개의 이미지 슬라이드쇼
  중앙에 watch 글씨 누르면 유튜브 링크로 이동
   */

.body__home1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home1__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 위의 라인으로 글씨가 정확하게 가운데로 이동 */
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.home1__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}
.home1__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.home1__slide.active {
  opacity: 1;
}
.home1__center span {
  font-size: 100px;
  font-weight: lighter;
  color: white;
}
.home1__center a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

/* 
  홈화면의 두번째 화면

  */
.body__home2 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./images/home2.avif');
}
