* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper__head {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 130px 10px 80px;
}
.head__logo #logo {
  width: 100px;
  height: 100px;

  fill: white;
}

.head__menu {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.head__menu a {
  font-size: 30px;
  color: white;
}

.body__home1__slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.home1__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.home1__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home1__title span {
  font-size: 100px;
  font-weight: lighter;
  color: white;
}
.home1__watchButton a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.home1__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}
.home1__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* object-fit: cover; 속성은 
  이미지가 부모 요소에 맞게 화면에 꽉 차도록 조정될 때
   이미지의 비율을 유지하면서 잘리지 않도록 */
}

.home1__slide.active {
  opacity: 1;
}
